<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <title>Sistema Musical</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <link href="img/test2/logo.png" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="lib/animate/animate.min.css" rel="stylesheet">
  <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
</head>

<body>
  <!--==========================
  Header
  ============================-->
  <header id="header" class="fixed-top">
    <div class="container">

      <div class="logo float-left">        
        <a href="#" class="scrollto"><img src="img/test2/logo.png" width="50" height="50" alt="" class="img-fluid"></a>
      </div>

      <nav class="main-nav float-right d-none d-lg-block">
        <ul>
          
          <li ><a href="/musicas/form">Músicas</a>
                        
          </li>   
          <li ><a href="">Artistas</a>            
                        
          </li>   
          <li ><a href="">Álbuns</a>
                       
          </li> 
        </ul>
      </nav>    
    </div>
  </header><!-- #header -->  

  <main id="main">
    <!--==========================
      Lançamentos
    ============================-->
    <section id="services" class="section-bg">
      <div class="container">

        <header class="section-header">
          <h2>Lançamentos do Ano</h2>         
        </header>

        <div class="row">

          <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-duration="1.4s">
            <div class="box">
              <img src="img/test2/albun0.jpg" class="img-fluid" alt="">
            </div>
          </div>

           <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-duration="1.4s">
            <div class="box">
              <img src="img/test2/albun1.jpg" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-duration="1.4s">
            <div class="box">
              <img src="img/test2/albun2.jpg" class="img-fluid" alt="">
            </div>
          </div>

           <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-duration="1.4s">
            <div class="box">
              <img src="img/test2/albun3.jpg" class="img-fluid" alt="">
            </div>
          </div>         

        </div>
      </div>
    </section><!-- #end lançamentos --> 

  </main>
  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6 footer-info">
            <img src="img/test2/logo.png" width="100" height="100" class="img-fluid" alt=""><br><br>
            <p>Economia para toda família: vem com a gente dançar, ser feliz e economizar! Todo mundo ainda mais feliz com 3 meses de músicas grátis! Milhões de músicas. Todos os dispositivos. Online e offline.</p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Links Úteis</h4>
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="/musicas">Músicas</a></li>
              <li><a href="">Artistas</a></li>
              <li><a href="">Álbuns</a></li>              
              <li><a href="">Lançamentos</a></li>              
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contato</h4>
            <p>
              Av Joaquim Mochel, SN - Turu <br>
              São Luís - MA, Brasil<br>           
              <strong>Telefone:</strong> 98 98165-0805<br>
              <strong>Email:</strong> wesley@gmail.com<br>
            </p>

            <div class="social-links">
              <a href="https://twitter.com/WesleyE37358405" target="_blank" class="twitter"><i class="fa fa-twitter"></i></a>
              <a href="https://www.facebook.com/wesleyeduardo.589" target="_blank" class="facebook"><i class="fa fa-facebook"></i></a>
              <a href="https://www.instagram.com/wesleyeduardo.ti/" target="_blank" class="instagram"><i class="fa fa-instagram"></i></a>
              <a href="https://www.youtube.com/channel/UCaiTtl5rG1VzCui10UkAOwg?view_as=subscriber" target="_blank" class="google-plus"><i class="fa fa-youtube"></i></a>              
            </div>

          </div>

          <div class="col-lg-3 col-md-6 footer-newsletter">
            <h4>Inscreva-se</h4>
            <p>1 mês grátis para assinantes novos que nunca ativaram nenhum teste ou promoção anterior. Esta oferta não pode ser combinada com nenhuma outra e pode ser usada apenas uma vez</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit"  value="Inscrever">
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="container">      
      <div class="credits">      
        Designed by <a href="https://wesleyeduardo.com.br/" target="_blank">Herbert Leone e Wesley Eduardo</a>
      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
 
  <style> img[alt="www.000webhost.com"] {display: none;} </style>
  <script src="lib/jquery/jquery.min.js"></script>
  <script src="lib/jquery/jquery-migrate.min.js"></script>
  <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="lib/easing/easing.min.js"></script>
  <script src="lib/mobile-nav/mobile-nav.js"></script>
  <script src="lib/wow/wow.min.js"></script>
  <script src="lib/waypoints/waypoints.min.js"></script>
  <script src="lib/counterup/counterup.min.js"></script>
  <script src="lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="lib/isotope/isotope.pkgd.min.js"></script>
  <script src="lib/lightbox/js/lightbox.min.js"></script> 
  <script src="contactform/contactform.js"></script>
  <script src="js/main.js"></script>

</body>
</html>
